<nav
  class="  text-white p-2 flex items-center justify-between shadow-lg border border-white/20 rounded-b-xl z-30"
  [ngClass]="{'bg-[#333]/80 ': !dynamicScroll || isScrolledDown,
    'bg-green-100/20 backdrop-blur-lg': dynamicScroll && !isScrolledDown
  }"

  [ngStyle]="{
    'backdrop-filter': 'blur(16px)',
    '-webkit-backdrop-filter': 'blur(16px)'
  }"

>

<!-- bg-[#333] shadow-md -->
  <div class="flex items-center cursor-pointer" [routerLink]="['/']">
    <img src="assets/bartr/image.png" alt="Bartr" class="h-[62px] mr-2" />
  </div>

  <div class="flex items-center space-x-4 md:space-x-6 mr-2">
    @if(isLoggedIn) {
      <ng-container>

        <button
          class="cursor-pointer group relative bg-green-600 hover:bg-green-700 text-white font-semibold text-sm px-4 py-2 rounded-full transition-all duration-200 ease-in-out w-30 h-10"
          [routerLink]="['/create-course']"
        >
          <div class="relative flex items-center justify-center gap-2">
            <span class="relative inline-block overflow-hidden">
              <span
                class="block transition-transform duration-300 group-hover:-translate-y-full"
              >
                Create a Course
              </span>
              <span
                class="absolute inset-0 transition-transform duration-300 translate-y-full group-hover:translate-y-0"
              >
                Right Now
              </span>
            </span>

          </div>
        </button>

        <button class="relative w-9 h-9 rounded-full overflow-hidden hover:outline-none hover:ring-2 hover:ring-green-600"
          [routerLink]="['/profile']"
        >
          <img class="w-full h-full object-cover" src="https://placehold.co/100x100/34D399/FFFFFF?text=AJ" alt="User Avatar">
        </button>

        <button (click)="onSignOut()"
                class="text-white py-2 px-4 rounded-md text-sm sign-out-button">
          Sign out
        </button>
      </ng-container>
    }
    @else {

      <ng-container>
        <!-- <button (click)="onCreateCourse()"
                  class="bg-green-600 hover:bg-green-700 text-white font-semibold py-2 px-4 md:px-6 rounded-full transition-colors duration-300">
            Create a Course
          </button> -->
        <button
          class="cursor-pointer group relative bg-green-600 hover:bg-green-700 text-white font-semibold text-sm px-4 py-3 rounded-full transition-all duration-200 ease-in-out w-30 h-11"
          [routerLink]="['/create-course']"
        >
          <div class="relative flex items-center justify-center gap-2">
            <span class="relative inline-block overflow-hidden">
              <span
                class="block transition-transform duration-300 group-hover:-translate-y-full"
              >
                Create a Course
              </span>
              <span
                class="absolute inset-0 transition-transform duration-300 translate-y-full group-hover:translate-y-0"
              >
                Right Now
              </span>
            </span>

          </div>
        </button>

        <button
          (click)="onLogin()"
          class="text-white hover:text-gray-300 font-semibold py-2 px-4 rounded-md transition-colors duration-300"
          [routerLink] = "['/login']"
        >
          Log In
        </button>
        <button
          (click)="onSignUp()"
          class="border-slate-100 border-2 text-white font-semibold py-2 px-4 md:px-6 rounded-md transition-colors duration-300 hover:border-green-600"
          [routerLink]="['/signup']"
        >
          Sign Up
        </button>

      </ng-container>
    }
  </div>
</nav>
