<nav
  class="  text-white p-2 flex items-center justify-between shadow-lg border border-white/20 rounded-b-xl z-30"
  [ngClass]="{'bg-[#333]/80 ': !dynamicScroll || isScrolledDown,
    'bg-green-100/20 backdrop-blur-lg': dynamicScroll && !isScrolledDown
  }"

  [ngStyle]="{
    'backdrop-filter': 'blur(16px)',
    '-webkit-backdrop-filter': 'blur(16px)'
  }"

>

<!-- bg-[#333] shadow-md -->
  <div class="flex items-center cursor-pointer" [routerLink]="['/']">
    <img src="assets/bartr/image.png" alt="Bartr" class="h-[62px] mr-2" />
  </div>

  <div class="flex items-center space-x-4 md:space-x-6 mr-2">
    @if(isLoggedIn) {
      <ng-container>

        <button
          class="cursor-pointer group relative bg-green-600 hover:bg-green-700 text-white font-semibold text-sm px-4 py-2 rounded-full transition-all duration-200 ease-in-out w-30 h-10"
          [routerLink]="['/create-course']"
        >
          <div class="relative flex items-center justify-center gap-2">
            <span class="relative inline-block overflow-hidden">
              <span
                class="block transition-transform duration-300 group-hover:-translate-y-full"
              >
                Create a Course
              </span>
              <span
                class="absolute inset-0 transition-transform duration-300 translate-y-full group-hover:translate-y-0"
              >
                Right Now
              </span>
            </span>

          </div>
        </button>

        <div class="relative">
          <button (click)="toggleAvatarDropdown($event)"
                  class="relative w-9 h-9 rounded-full overflow-hidden hover:outline-none hover:ring-2 hover:ring-green-600 focus:outline-none focus:ring-2 focus:ring-green-600">
            <img class="w-full h-full object-cover" src="https://placehold.co/100x100/34D399/FFFFFF?text=AJ" alt="User Avatar">
          </button>

          <div *ngIf="showAvatarDropdown"
               class="absolute top-full right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-1 z-40 animate-fade-in-down">
               <a (click)="onViewProfile()"
               class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer">
               <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 inline">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
              </svg>

              Profile
            </a>

            <a (click)="onViewProfile()"
               class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="inline size-6"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" ><path d="M16 13c-2.761 0-5-1.12-5-2.5S13.239 8 16 8s5 1.12 5 2.5s-2.239 2.5-5 2.5m-5 1.5c0 1.38 2.239 2.5 5 2.5s5-1.12 5-2.5m-18-5C3 10.88 5.239 12 8 12c1.126 0 2.165-.186 3-.5M3 13c0 1.38 2.239 2.5 5 2.5c1.126 0 2.164-.186 3-.5"/><path d="M3 5.5v11C3 17.88 5.239 19 8 19c1.126 0 2.164-.186 3-.5m2-10v-3m-2 5v8c0 1.38 2.239 2.5 5 2.5s5-1.12 5-2.5v-8"/><path d="M8 8C5.239 8 3 6.88 3 5.5S5.239 3 8 3s5 1.12 5 2.5S10.761 8 8 8"/></g></svg>

              Purchase XP
            </a>

               <!-- <div (click)="onXpAvailable()"
               class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer">
              XP Available
            </div> -->

            <a (click)="onSignOut()"
               class="block px-4 py-2 text-sm text-red-600 hover:bg-red-50 cursor-pointer">
               <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 inline">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
              </svg>

              Log Out
            </a>
          </div>
        </div>
      </ng-container>
    }
    @else {

      <ng-container>
        <!-- <button (click)="onCreateCourse()"
                  class="bg-green-600 hover:bg-green-700 text-white font-semibold py-2 px-4 md:px-6 rounded-full transition-colors duration-300">
            Create a Course
          </button> -->
        <button
          class="cursor-pointer group relative bg-green-600 hover:bg-green-700 text-white font-semibold text-sm px-4 py-3 rounded-full transition-all duration-200 ease-in-out w-30 h-11"
          [routerLink]="['/create-course']"
        >
          <div class="relative flex items-center justify-center gap-2">
            <span class="relative inline-block overflow-hidden">
              <span
                class="block transition-transform duration-300 group-hover:-translate-y-full"
              >
                Create a Course
              </span>
              <span
                class="absolute inset-0 transition-transform duration-300 translate-y-full group-hover:translate-y-0"
              >
                Right Now
              </span>
            </span>

          </div>
        </button>

        <button
          (click)="onLogin()"
          class="text-white hover:text-gray-300 font-semibold py-2 px-4 rounded-md transition-colors duration-300"

        >
          Log In
        </button>
        <button
          (click)="onSignUp()"
          class="border-slate-100 border-2 text-white font-semibold py-2 px-4 md:px-6 rounded-md transition-colors duration-300 hover:border-green-600"
        >
          Sign Up
        </button>

      </ng-container>
    }
  </div>
</nav>

<app-sign-in
  *ngIf="showSignInModal"
  (login)="handleLogin($event)"
  (close)="onModalClosed()"
  (googleLogin)="handleGoogleLogin()"
  (twitterLogin)="handleTwitterLogin()"
  (navigateToRegister)="handleNavigateToRegister()"
></app-sign-in>


<app-sign-up-modal
  *ngIf="showSignUpModal"
  (close)="onModalClosed()"
  (register)="handleRegister($event)"
  (googleRegister)="handleGoogleRegister()"
  (twitterRegister)="handleTwitterRegister()"
  (navigateToLogin)="handleNavigateToLoginFromSignUp()"
></app-sign-up-modal>
