<div class="flex-1 p-5 bg-white rounded-lg shadow-lg relative">
  <div
    class="absolute inset-0 z-0 bg-[radial-gradient(ellipse_at_bottom,_var(--tw-gradient-stops))] from-green-400/20 via-green-200/20 to-slate-200/60 backdrop-blur-xl"
  ></div>

  <h1 class="text-4xl font-semibold mb-1 text-gray-800 relative z-10">Personal Information</h1>
  <p class="text-gray-600 text-sm mb-8 pb-2 border-b-2 border-gray-600 relative z-10">Manage your personal Information</p>

  <button class="font-variable flex justify-center gap-2 items-center mx-auto text-sm text-gray-50 bg-[#4CAF50] backdrop-blur-md lg:font-variable isolation-auto before:absolute before:w-full before:transition-all before:duration-700 before:hover:w-full before:-left-full before:hover:left-0 before:rounded-full before:bg-[#FFFFFF] hover:text-black before:-z-10 before:aspect-square before:hover:scale-200 before:hover:duration-500 px-4 py-1 overflow-hidden border border-gray-900 rounded-full group absolute top-6 right-5 z-10" (click)="onEdit()">
    Edit
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="currentColor"
    class="w-8 h-8 justify-end bg-gray-50 group-hover:bg-gray-50 text-gray-50   ease-linear duration-300 rounded-full border border-gray-700 group-hover:border-gray-700 p-2">
      <path class="fill-gray-800 group-hover:fill-gray-800" d="M3 21v-3.75L16.81 3.44a1.5 1.5 0 0 1 2.12 0l1.63 1.63a1.5 1.5 0 0 1 0 2.12L6.75 21H3zm3.75-1.5H5.5v-1.25L15.06 7.69l1.25 1.25L6.75 19.5zM18.06 5.94l-1.25-1.25 1.06-1.06 1.25 1.25-1.06 1.06z"/>
    </svg>
  </button>

  <div class="personal-information-section">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5">

      <div class="bg-gray-50 border border-gray-200 rounded-lg p-5 relative shadow-md fade-in-left-normal">
        <div class="text-gray-600 text-base mb-2">Name</div>
        <div *ngIf="user" class="text-xl font-bold text-gray-800">{{ user.fullname }}</div>
        <div *ngIf="!user" class="text-xl font-bold text-gray-800">Loading...</div>
        <img src="assets/icons/mingcute--user-4-line.svg" alt="Profile Icon" class="card-icon">
      </div>

      <div class="bg-gray-50 border border-gray-200 rounded-lg p-5 relative shadow-md fade-in-right-normal">
        <div class="text-gray-600 text-base mb-2">XP</div>
        <div *ngIf="user" class="text-xl font-bold text-gray-800">{{ user.xp }}</div>
        <div *ngIf="!user" class="text-xl font-bold text-gray-800">Loading...</div>
        <img src="assets/icons/iconoir--coins.svg" alt="XP Icon" class="card-icon">
      </div>

      <div class="bg-gray-50 border border-gray-200 rounded-lg p-5 relative shadow-md fade-in-left-normal">
        <div class="text-gray-600 text-base mb-2">Contact</div>
        <div *ngIf="user" class="text-xl font-bold text-gray-800">{{ user.phone }}</div>
        <div *ngIf="!user" class="text-xl font-bold text-gray-800">Loading...</div>
        <img src="assets/icons/ic--baseline-phone.svg" alt="Phone Icon" class="card-icon">
      </div>

      <div class="bg-gray-50 border border-gray-200 rounded-lg p-5 relative shadow-md fade-in-right-normal">
        <div class="text-gray-600 text-base mb-2">Country Region</div>
        <div *ngIf="user?.region" class="text-xl font-bold text-gray-800">{{ user?.region }}</div>
        <div *ngIf="user && !user.region" class="text-xl font-bold text-gray-800">Not provided</div>
        <div *ngIf="!user" class="text-xl font-bold text-gray-800">Loading...</div>
        <img src="assets/icons/tabler--world.svg" alt="Globe Icon" class="card-icon">
      </div>

      <div class="bg-gray-50 col-span-2 border border-gray-200 rounded-lg p-5 relative shadow-md fade-in-left-normal">
        <div class="text-gray-800 text-xl font-bold mb-2">About me</div>
        <div *ngIf="user?.bio" class="text-base font-bold text-gray-600">{{ user?.bio }}</div>
        <div *ngIf="user && !user.bio" class="text-base font-bold text-gray-600">This user has not added a bio yet.</div>
        <div *ngIf="!user" class="text-base font-bold text-gray-600">Loading...</div>
        </div>

      <div class="bg-gray-50 col-span-2 border border-gray-200 rounded-lg p-5 relative shadow-md fade-in-left-normal">
        <div class="text-gray-800 text-xl font-bold mb-2">Skills</div>
        <div class="flex flex-wrap gap-2">
          <ng-container *ngIf="user?.skills as skillsArray">
            <ng-container *ngIf="skillsArray.length > 0; else noSkills">
              <span *ngFor="let skill of skillsArray" class="px-3 py-1 bg-green-100 text-green-700 text-sm font-medium rounded-full">
                {{ skill }}
              </span>
            </ng-container>
            <ng-template #noSkills>
              <div class="text-base font-bold text-gray-600">This user has not added any skills yet</div>
            </ng-template>
          </ng-container>
          <ng-container *ngIf="!user?.skills">
              <div class="text-base font-bold text-gray-600">This user has not added any skills yet</div>
          </ng-container>
        </div>
      </div>

    </div>
  </div>

  <app-edit-profile-modal
      *ngIf="showEditProfileModal"
      [user]="user" (save)="onProfileSaved($event)"
      (cancel)="onCancelEditProfile()"
  ></app-edit-profile-modal>

</div>
