<div class="min-h-screen flex flex-col bg-gray-100 font-variable">
  <app-navbar-component></app-navbar-component>

    <div class="flex flex-1">
      <div class="w-64 bg-white p-5 border-r border-gray-200 shadow-md flex-shrink-0">
        <div class="text-center mb-8">
          <div class="profile-icon">
            <img src="assets/dummy-avatar/avataaars.png" alt="Profile Icon">
          </div>
          <div class="text-xl font-bold text-gray-800">{{ userName }}</div>
          <div class="text-sm text-gray-600">{{ userEmail }}</div>
          <!-- <div class="size-2 text-red-800">hello</div> -->
        </div>

        <ul class="list-none p-0">
          <li class="py-3 px-4 mb-2 cursor-pointer rounded-md transition-colors duration-200 hover:bg-gray-200 font-bold text-[#4CAF50] bg-gray-200">
            Personal Information
          </li>
          <li class="py-3 px-4 mb-2 text-gray-700 cursor-pointer rounded-md transition-colors duration-200 hover:bg-gray-200">
            Courses Enrolled
          </li>
          <li class="py-3 px-4 mb-2 text-gray-700 cursor-pointer rounded-md transition-colors duration-200 hover:bg-gray-200">
            Courses Created
          </li>
          <li class="py-3 px-4 mb-2 text-gray-700 cursor-pointer rounded-md transition-colors duration-200 hover:bg-gray-200">
            Profile Settings
          </li>
        </ul>
      </div>


       <div class="flex-1 m-5">

         <!-- <app-personal-information></app-personal-information> -->
          <app-course-enrolled [courses]="enrolledCourses"></app-course-enrolled>
       </div>
    </div>

</div>
