<div class="flex flex-row w-full h-screen font-variable">
  <div class="flex-1 hidden md:flex justify-center items-center p-4">
    <img src="assets/registerImage/registerImage.jpg" alt="Decorative background" class="w-full h-full object-cover rounded-xl"/>
  </div>
  <div class="flex-1 flex flex-col justify-center items-center p-8 text-center bg-white">
    <div class="mb-10">
      <span class="font-konkhmer text-4xl font-extrabold text-gray-800 block mb-1">Create an account</span>
      <p class="text-base text-gray-600">Get started now</p>
    </div>
    <form class="w-full max-w-sm">
      <div class="mb-4">
        <input type="text" placeholder="Full Name" class="w-full p-3 text-base border-2 border-gray-800 rounded-full focus:outline-none focus:border-green-600"/>
      </div>
      <div class="mb-4">
        <input type="text" placeholder="Username" class="w-full p-3 text-base border-2 border-gray-800 rounded-full focus:outline-none focus:border-green-600"/>
      </div>
      <div class="mb-4">
        <input type="email" placeholder="Email" class="w-full p-3 text-base border-2 border-gray-800 rounded-full focus:outline-none focus:border-green-600"/>
      </div>
      <div class="mb-4">
        <input type="password" placeholder="Password" class="w-full p-3 text-base border-2 border-gray-800 rounded-full focus:outline-none focus:border-green-600"/>
      </div>
      <button type="submit" class="w-full p-3 rounded-full text-base bg-black text-white cursor-pointer transition-colors duration-300 hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2">Create Account</button>
    </form>
    <div class="relative w-full max-w-sm my-6 text-gray-600 text-sm">
      <span class="bg-white px-2 relative z-10">or register with</span>
      <div class="absolute inset-x-0 top-1/2 h-px bg-gray-600 -translate-y-1/2"></div>
    </div>
    <div class="flex gap-4 w-full max-w-sm mb-6">
      <button class="flex-1 flex flex-row gap-2 p-2 text-base border border-gray-300 rounded-full bg-white cursor-pointer transition-colors duration-300 items-center justify-center hover:bg-green-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-green-700 focus:ring-offset-2">
        <img src="assets/icons/google.svg" alt="" class="h-6 w-6">Google
      </button>

      <button class="flex-1 flex flex-row gap-2 p-2 text-base border border-gray-300 rounded-full bg-white cursor-pointer transition-colors duration-300 items-center justify-center hover:bg-green-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-green-700 focus:ring-offset-2">
        <img src="assets/icons/twitter-x.svg" alt="" class="h-6 w-6">Twitter
      </button>
    </div>
    <p class="text-sm text-center">
      Already have an account? <a href="#" class="text-green-700 hover:underline">Log In</a>
    </p>
  </div>
</div>
